colorama==0.4.6
psutil==7.1.2
zipp==3.21.0
networkx==3.4.2
wheel==0.44.0
pip==24.2
wcwidth==0.2.13
starlette==0.49.3
interegular==0.3.3
watchfiles==1.1.1
requests==2.32.3
vdom==0.6
colorama==0.4.6
jiter==0.6.1
fastapi-cli==0.0.16
msgspec==0.19.0
mpmath==1.3.0
cffi==2.0.0
rich==13.9.4
numpy==2.1.3
numexpr==2.10.1
multiprocess==0.70.18
pybase64==1.4.2
cloudpathlib==0.16.0
jupyter_core==5.7.2
mistral_common==1.8.5
cssselect==1.2.0
wrapt==1.17.0
cuda-bindings==13.0.3
tqdm==4.67.1
ptyprocess==0.7.0
referencing==0.30.2
tiktoken==0.9.0
ipykernel==6.29.5
pytz==2025.2
prometheus-fastapi-instrumentator==7.1.0
partial-json-parser==0.2.1.1.post7
nvidia-cudnn-cu12==9.10.2.21
pydantic==2.11.9
aiohappyeyeballs==2.6.1
py-cpuinfo==9.0.0
openpyxl==3.1.5
spacy-legacy==3.0.12
websockets==15.0.1
lm-format-enforcer==0.11.3
pexpect==4.8.0
distro==1.9.0
nvidia-curand-cu12==10.3.9.90
confection==0.1.4
nvidia-cusparse-cu12==12.5.8.93
six==1.17.0
wirerope==1.0.0
msgpack==1.1.2
email-validator==2.3.0
frozenlist==1.8.0
cloudpickle==3.1.2
matplotlib==3.10.0
tokenizers==0.22.1
contourpy==1.3.1
Deprecated==1.2.18
pyparsing==3.2.0
fsspec==2025.10.0
nvidia-nccl-cu12==2.27.3
wandb==0.23.0
urllib3==2.3.0
tomli==2.3.0
tzdata==2023.3
lxml==5.3.0
soundfile==0.13.1
ipython==8.30.0
ninja==1.13.0
spacy==3.8.2
einops==0.8.1
scikit-learn==1.7.2
typing_extensions==4.12.2
llvmlite==0.44.0
pillow==11.1.0
jupyter_client==8.6.3
nvidia-cudnn-frontend==1.16.0
prometheus_client==0.23.1
python-dateutil==2.9.0.post0
aiohttp==3.13.2
nvidia-cusolver-cu12==11.7.3.90
compressed-tensors==0.11.0
nest_asyncio==1.6.0
huggingface_hub==0.34.4
xformers==0.0.32.post1
triton==3.4.0
torchaudio==2.8.0
importlib_metadata==8.5.0
smmap==5.0.2
python-json-logger==4.0.0
preshed==3.0.6
llguidance==0.7.30
hf-xet==1.1.8
genai==2.0.0
httpcore==1.0.2
comm==0.2.2
python-multipart==0.0.20
pyzmq==26.4.0
nvidia-cufile-cu12==1.13.1.3
unicodedata2==15.1.0
traitlets==5.14.3
depyf==0.19.0
attrs==24.3.0
typer==0.20.0
seaborn==0.13.2
dnspython==2.8.0
opencv-python-headless==4.12.0.88
cbor2==5.7.1
rignore==0.7.6
wasabi==0.9.1
executing==0.8.3
pure-eval==0.2.2
PuLP==2.8.0
nvidia-ml-py==13.580.82
methodtools==0.4.7
regex==2024.11.6
nvidia-cuda-runtime-cu12==12.8.90
srsly==2.5.1
PySocks==1.7.1
annotated-types==0.6.0
cuda-python==13.0.3
uvloop==0.22.1
gguf==0.17.1
smart-open==5.2.1
MarkupSafe==3.0.2
nvidia-cusparselt-cu12==0.7.1
protobuf==6.33.1
openai-harmony==0.0.8
markdown-it-py==4.0.0
jsonschema==4.23.0
joblib==1.4.2
soxr==1.0.0
fastapi-cloud-cli==0.3.1
Pygments==2.19.2
prompt-toolkit==3.0.43
dill==0.4.0
blis==1.0.1
platformdirs==4.3.7
mdurl==0.1.2
sniffio==1.3.0
astor==0.8.1
Brotli==1.0.9
custom-inherit==2.4.1
gitdb==4.0.12
cycler==0.11.0
nvidia-cuda-cupti-cu12==12.8.90
setproctitle==1.3.7
pyarrow==22.0.0
typing-inspection==0.4.2
flashinfer-python==0.5.2
blake3==1.0.8
frozendict==2.4.7
fastrlock==0.8.3
multidict==6.7.0
certifi==2025.1.31
sentry-sdk==2.45.0
weasel==0.3.4
nvidia-nvjitlink-cu12==12.8.93
torch==2.8.0
fonttools==4.55.3
murmurhash==1.0.7
catalogue==2.0.10
torchvision==0.23.0
kiwisolver==1.4.8
aiosignal==1.4.0
xxhash==3.6.0
scipy==1.15.1
python-dotenv==1.2.1
transformers==4.57.1
pycountry==24.6.1
cached-property==1.5.2
ray==2.51.1
shellingham==1.5.0
openai==1.109.1
matplotlib-inline==0.1.6
filelock==3.20.0
parso==0.8.4
stack-data==0.2.0
safetensors==0.6.2
pyquery==1.4.3
pydantic-extra-types==2.10.6
tenacity==9.0.0
cupy-cuda12x==13.6.0
cachetools==6.2.2
Bottleneck==1.4.2
charset-normalizer==3.4.4
tabulate==0.9.0
apache-tvm-ffi==0.1.2
nvidia-nvtx-cu12==12.8.90
nvidia-cufft-cu12==11.3.3.83
amply==0.1.6
anyio==4.10.0
PyYAML==6.0.3
threadpoolctl==3.5.0
asttokens==2.0.5
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cutlass-dsl==4.2.1
cymem==2.0.6
debugpy==1.8.14
Jinja2==3.1.5
pandas==2.2.3
httpx==0.28.1
lark==1.2.2
pycparser==2.23
decorator==5.1.1
httptools==0.7.1
langcodes==3.3.0
pydantic_core==2.33.2
h11==0.14.0
et-xmlfile==1.1.0
rich-toolkit==0.15.1
vllm==0.11.0
sentencepiece==0.2.0
outlines_core==0.2.11
GitPython==3.1.45
accelerate==1.11.0
jsonschema-specifications==2023.7.1
annotated-doc==0.0.4
sympy==1.14.0
cuda-pathfinder==1.3.2
yarl==1.22.0
thinc==8.3.2
click==8.2.1
fastapi==0.121.2
jedi==0.19.2
nvidia-cublas-cu12==12.8.4.1
idna==3.11
packaging==24.2
rpds-py==0.22.3
tornado==6.4.2
propcache==0.4.1
anthropic==0.49.0
datasets==4.4.1
psutil==7.0.0
docutils==0.18.1
exceptiongroup==1.3.0
async-timeout==5.0.1
xgrammar==0.1.25
setuptools==72.1.0
uvicorn==0.38.0
spacy-loggers==1.0.4
diskcache==5.6.3
scikit-criteria==0.8.7
numba==0.61.2
